{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Blog permettant de tout connaître sur l'univers manga.">
    <title>{% block title %}Bienvenue sur mon blog de Manga{% endblock %}</title>
{% endblock %}

{% block main_content %}
<br><br>
<div id="principle_container">
    <div id="pics_accueil">
        <img src="../static/Images/images_accueil/city_hunter_massue.jpg">
    </div>
    <br>
    <div id="container_intro">
        <h1>Je vous souhaite la bienvenue sur mon blog sur les mangas.</h1>
        <br><br>
        <div id="middle">
            <h2>Si vous voulez tout savoir et plus encore sur les mangas, c'est ici !!!</h2>
            <br>
            <h2>Faîtes-vous plaisir et voyez si les réponses à vos questions sont ici.</h2>
        </div>
        <div>
            <h1>Bienvenue sur notre site !</h1>
        </div>
        <div id="pics_accueil2">
            <img src="../static/Images/images_accueil/hisoka.jpg">
        </div>
    </div>
    <br>
    <div id="end">
        <h3>Bonne navigation sur le blog. J'espère que vous apprécierez votre visite.</h3>
    </div>
</div>
<br><br>
<div class="separation"></div>
<br><br>
<div id="container">
    <div id="space-before">
    </div>
    <div id="principle">
        <section class="new-articles">
            <h2>Actualités de la semaine</h2>
            {% for article in new_articles %}
            <div class="article">
                <div id="info_article">
                    <img src="../static/Images/images_accueil/vegM2.jpg" alt="Image de {{ article.title }}">
                    Par {{ article.author.pseudo }}
                </div>
                <div class="info_article2">
                    <p><a href="{{ url_for('frontend.show_article', article_id=article.id) }}">{{ article.title }}</a></p>
                    <p>{{ article.resume }}</p>
                </div>
            </div>
            {% endfor %}
        </section>

        <section class="other-articles">
            <h2>Autres articles</h2>
            {% for article in other_articles %}
            <div class="article">
                <img src="../static/Images/images_accueil/vegM2.jpg" alt="Image de {{ article.title }}">
                    Par {{ article.author.pseudo }}
            </div>
            <div class="info_article2">
                <p><a href="{{ url_for('frontend.show_article', article_id=article.id) }}">{{ article.title }}</a></p>
                <p>{{ article.resume }}</p>
            </div>
            {% endfor %}
        </section>
    </div>
    <div id="space-after"></div>

    <aside id="aside">
    <h2>Archive des articles</h2>
    <br>
    <ul>
        {% for year, month, month_name in archive_months %}
        <li><a href="{{ url_for('frontend.archive', year=year, month=month) }}">{{ month_name }} {{ year }}</a></li>
        {% endfor %}
    </ul>
</aside>
</div>
<br>
<div class="separation">

</div>
<br>
{% endblock %}
