{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Articles présents sur le blog.">
    <title>{% block title %}{{ article.title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/article.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block main_content %}
<div id="container_article">
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <div id="article_title">
        <h1>{{ article.title }}</h1>
    </div>
    <br><br>
    <div id="article_content">
        {{ article.article_content | safe }}
    </div>
    <br>
    <br>
</div>
<br>
<div id="article_date">
    <i>L'article a été publié le {{article.date_edition.strftime('%d-%m-%Y à %H:%M') }} par {{article.author.pseudo }}</i>
</div>
<div class="separation"></div>
<div id="comment_avis">
    <p>Vous pouvez laisser un commentaire : </p>
    <div id="form-comment">
        <div class="likes_dislikes">
            <form action="{{ url_for('user.article_like', article_id=article_id) }}" method="post">
                {{ formlike.csrf_token }}
                {{ formlike.submit }}
            </form>
            <span id="articles_likes">{{ article.likes }}</span>
        </div>
        <div class="likes_dislikes">
            <form action="{{ url_for('user.article_dislike', article_id=article_id) }}" method="post">
                {{ formdislike.csrf_token }}
                {{ formdislike.submit }}
            </form>
            <span id="articles_dislikes">{{ article.dislikes }}</span>
        </div>
    </div>
</div>
<div id="comment_content">
    <!-- Formulaire pour laisser un commentaire -->
    <form method="POST" action="{{ url_for('user.comment_article', user_pseudo=current_user.pseudo) }}">
        {{ formcomment.csrf_token }}
        <input type="hidden" name="article_id" value="{{ article.id }}">
        <input type="hidden" name="user_pseudo" value="{{ current_user.pseudo }}">
        <textarea name="comment_content" placeholder="Votre commentaire" required></textarea>
        <button type="submit">Poster le commentaire</button>
    </form>
</div>

<div class="separation"></div>
<div id="container_comment">
    {% for comment in comments %}
    <div class="comment" data-comment-id="{{ comment.id }}">
        <div class="comment-header">
            <img src="{{ comment.user.profile_picture_url }}" alt="Photo de {{ comment.user.pseudo }}" class="profile-picture">
        </div>
        <div class="comment">
            <strong>{{ comment.user.pseudo }}</strong> a commenté :
        </div>
        <div class="date_comment">
            <small>Le {{ comment.comment_date.strftime('%d-%m-%Y à %H:%M') }}</small>
        </div>
        <div class="content_comment">
            {{ comment.comment_content | replace('\n', '<br>') | safe }}
        </div>

        <div class="reply-button-container">
            <a href="{{ url_for('user.reply_form_article', comment_id=comment.id, user_pseudo=current_user.pseudo) }}" class="reply-button">Répondre</a>
            <div class="like-section" data-user-id="{{ current_user.pseudo }}">
                <form id="fromlikecomment" method="POST" action="{{ url_for('user.likes_comment_article') }}" style="display: none;">
                    {{ formlikecomment.csrf_token }}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <input type="hidden" name="user_pseudo" value="{{ current_user.pseudo }}">
                    <button type="submit" class="like-submit"></button>
                </form>
                <div id="like-icon-{{ comment.id }}" class="like-icon {% if comment_likes_data[comment.id].user_liked %}liked{% endif %}" onclick="toggleLike(this, '{{ comment.id }}', '{{ current_user.pseudo }}')">
                    {% if comment_likes_data[comment.id].liked_by_current_user %}
                    &#9829;  <!-- Icône pour un cœur plein -->
                    {% else %}
                    &#9825;  <!-- Icône pour un cœur vide -->
                    {% endif %}
                </div>
                <div class="liked-users">
                    <p id="like-message-{{ comment.id }}">
                        {% set like_data = comment_likes_data[comment.id] %}
                        {% if like_data.like_count > 0 %}
                            {{ current_user.pseudo if current_user.id in like_data.liked_user_ids else '1 utilisateur a aimé le commentaire.'}}
                            {% if like_data.like_count > 1 %}
                                et {{ like_data.like_count - 1 }} autre(s) utilisateur(s) ont aimé le commentaire.
                            {% endif %}
                        {% else %}
                            Personne n'a aimé le commentaire pour le moment.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="replies">
        {% for reply in comment.replies_comment_article %}
        <div class="comment-reply">
            <div class="reply-header">
                <img src="{{ reply.user.profile_picture_url }}" alt="Photo de {{ reply.user.pseudo }}" class="profile-picture">
                <div class="reply-details">
                    <strong><i>{{ reply.user.pseudo }}</i></strong> a répondu :
                </div>
                <div class="reply-date">
                    <small>Le {{ reply.reply_date.strftime('%d-%m-%Y à %H:%M') }}</small>
                </div>
            </div>
            <div class="content-reply">
                {{ reply.reply_content | replace('\n', '<br>') | safe }}
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div style="height: 10px;"> <!-- Espace de 10 pixels -->
</div>
<br>
{% endblock %}
{% block footer_content %}
 <script src="{{ url_for('static', filename='CSS/javascript/like_comment_article.js') }}"></script>
 <script src="{{ url_for('static', filename='CSS/javascript/article_like_dislike.js') }}"></script>


{% endblock %}