{% extends 'base.html.jinja2' %}


{% block head_content %}
    <meta name="description" content="Articles présents sur le blog.">
    <title>{% block title %}Articles du blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/articles.css') }}">
{% endblock %}

{% block main_content %}
<br><br>
<br><br>
<div class="separation">
</div>

<div id="pics_articles1">
</div>

<div id="pics_articles2">
</div>

<div id="pics_articles3">
</div>
<br><br>
<div id="search">
    <h5>Rechercher des articles</h5>
            <form method="get" action="{{ url_for('user.articles_search') }}">
                <label for="search_query">Catégorie de l'article :</label>
                <input type="text" id="search_query" name="search_query">
                <button type="submit">Lancer la recherche</button>
            </form>
            <div>
                {% if articles %}
                <p>Articles trouvés :</p>
                {% else %}
                <p>Aucun résultat ne satisfait la requête.</p>
                {% endif %}
            </div>
        </div>
</div>
<div id="container_article">
    <br>
    <table id="articles">
        <thead>
        <tr>
            <th>Titre de l'article</th>
            <th>Catégorie de l'article</th>
            <th>Pseudo de l'auteur</th>
            <th>Résumé</th>
            <th>Date d'édition</th>
            <th>Nombre de likes</th>
            <th>Nombre de dislikes</th>
        </thead>
        <tbody>
        {% for article in articles %}
        <tr>
            <td>
                <div id="article_title">
                    <a href="{{ url_for('frontend.show_article', article_id=article.id) }}">{{ article.title }}</a>
                </div>
            </td>
            <td id="article_categorie">
                {{ article.categorie.name }}
            </td>
            <td>
                <div id="article_pseudo">
                    {{ article.author.pseudo }}
                </div>
            </td>
            <td>
                <div id="article_content">
                    {{ article.resume }}
                </div>
            </td>
            <td>
                <div id="article_date">
                    {{ article.date_edition }}
                </div>
            </td>
            <td>
                <div id="article_likes">
                    {{ article.likes }}
                </div>
            </td>
            <td>
                <div id="article_dislikes">
                    {{ article.dislikes }}
                </div>
            </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div id="separation">

</div>
<br><br>
{% endblock %}