{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Articles présents sur le blog.">
    <title>{% block title %}{{ article.title }}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/article.css') }}">
{% endblock %}

{% block main_content %}
<div id="container_article">
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <div id="article_title">
        <h1>{{ article.title }}</h1>
    </div>
    <br><br>
    <div id="article_content">
        {{ article.article_content | safe }}
    </div>
    <br>
    <br>
</div>
<br>
<div id="article_date">
    <i>L'article a été publié le {{article.date_edition.strftime('%d-%m-%Y à %H:%M') }} par {{article.author.pseudo }}</i>
</div>
<div class="separation"></div>
<div id="comment_avis">
    <p>Vous pouvez laisser un commentaire : </p>
    <div id="form-comment">
        <div class="likes_dislikes">
            <form action="{{ url_for('user.article_like', article_id=article_id) }}" method="post">
                {{ formlike.csrf_token }}
                {{ formlike.submit }}
            </form>
            <span id="articles_likes">{{ article.likes }}</span>
        </div>
        <div class="likes_dislikes">
            <form action="{{ url_for('user.article_dislike', article_id=article_id) }}" method="post">
                {{ formdislike.csrf_token }}
                {{ formdislike.submit }}
            </form>
            <span id="articles_dislikes">{{ article.dislikes }}</span>
        </div>
    </div>
</div>
<div id="comment_content">
    <!-- Formulaire pour laisser un commentaire -->
    <form method="POST" action="{{ url_for('user.comment_article', user_pseudo=current_user.pseudo) }}">
        {{ formcomment.csrf_token }}
        <input type="hidden" name="article_id" value="{{ article.id }}">
        <input type="hidden" name="user_pseudo" value="{{ current_user.pseudo }}">
        <textarea name="comment_content" placeholder="Votre commentaire" required></textarea>
        <button type="submit">Poster le commentaire</button>
    </form>
</div>

<div class="separation"></div>
<div id="container_comment">
    {% for comment in comments %}
    <div id="comment">
        <div class="pics_user">

        </div>
        <div class="comment">
            <strong>{{ comment.user.pseudo }}</strong> a commenté :
        </div>
        <div class="date_comment">
            <small>Le {{ comment.comment_date.strftime('%d-%m-%Y à %H:%M') }}</small>
        </div>
        <div class="content_comment">
            {{ comment.comment_content | replace('\n', '<br>') | safe }}
        </div>
    </div>
    <div class="reply-button-container">
        <a href="{{ url_for('user.reply_form_article', comment_id=comment.id, user_pseudo=current_user.pseudo) }}" class="reply-button">Répondre</a>
    </div>
    <div class="replies">
        {% for reply in comment.replies %}
        <div class="comment-reply">
            <div class="reply-header">
                <img src="{{ reply.user.profile_picture_url }}" alt="Photo de {{ reply.user.pseudo }}" class="profile-picture">
                <div class="reply-details">
                    <strong>{{ reply.user.pseudo }}</strong> a répondu :
                </div>
                <div class="reply-date">
                    <small>Le {{ reply.reply_date.strftime('%d-%m-%Y à %H:%M') }}</small>
                </div>
            </div>
            <div class="content-reply">
                {{ reply.reply_content | replace('\n', '<br>') | safe }}
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
</div>
<div style="height: 10px;"> <!-- Espace de 10 pixels -->
</div>
<br>
{% endblock %}