{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Forum du blog permettant de discuter, interagir et donner son avis sur le blog.">
    <title>{% block title %}Bienvenue sur le forum du blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/forum_subject.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='CSS/javascript/like_comment_article.js') }}"></script>
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}
<br>
<h1>Forum de discussion</h1>

<section id="categories">
    <div id="forum_pic">
        <div id="forum_pic_left">
        </div>
        <div id="forum_pic_center">
        </div>
        <div id="forum_pic_right">
        </div>
    </div>

    <br><br><br><br><br><br>

    <div id="container_subject_forum">
        <br><br><br><br>
        <h2>Discussion sur le sujet : {{ subject.nom }}</h2>
    </div>
    <div id="container_comment">
        {% for comment in comment_subject %}
        <div id="comment">
            <div class="comment-header">
                <img src="{{ comment.user.profile_picture_url }}" alt="Photo de {{ comment.user.pseudo }}" class="profile-picture">
            </div>
            <div class="comment">
                <strong>{{ comment.user.pseudo }}</strong> a commenté :
            </div>
            <div class="date_comment">
                <small>Le {{ comment.comment_date.strftime('%d-%m-%Y à %H:%M') }}</small>
            </div>
            <div class="content_comment">
                {{ comment.comment_content | replace('\n', '<br>') | safe }}
            </div>
        </div>
        <div class="reply-button-container">
            <a href="{{ url_for('user.reply_form_subject', comment_id=comment.id, user_pseudo=current_user.pseudo) }}" class="reply-button">Répondre</a>
            <div class="like-section" data-user-id="{{ current_user.pseudo }}">
                <form id="fromlikecomment" method="POST" action="{{ url_for('user.likes_comment_article') }}" style="display: none;">
                    {{ formlikecomment.csrf_token }}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <input type="hidden" name="user_pseudo" value="{{ current_user.pseudo }}">
                    <button type="submit" class="like-submit"></button>
                </form>
                <div class="like-icon" data-comment-id="{{ comment.id }}" onclick="toggleLike(this, '{{ comment.id }}', '{{ current_user.pseudo }}')" style="cursor: pointer;">
                    {% if comment_likes_data[comment.id].liked_by_current_user %}
                    &#9829; <!-- Icône pour un cœur plein -->
                    {% else %}
                    &#9825; <!-- Icône pour un cœur vide -->
                    {% endif %}
                </div>
                <div class="liked-users">
                    <p id="like-message-{{ comment.id }}">
                        {% set like_data = comment_likes_data[comment.id] %}
                        {% if like_data.like_count > 0 %}
                            {{ current_user.pseudo if current_user.id in like_data.liked_user_ids else '1 utilisateur a aimé le commentaire.'}}
                            {% if like_data.like_count > 1 %}
                                et {{ like_data.like_count - 1 }} autre(s) utilisateur(s) ont aimé le commentaire.
                            {% endif %}
                        {% else %}
                            Personne n'a aimé le commentaire pour le moment.
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="replies">
            {% for reply in comment.replies_comment_subject %}
            <div class="comment-reply">
                <div class="reply-header">
                <img src="{{ reply.user.profile_picture_url }}" alt="Photo de {{ reply.user.pseudo }}" class="profile-picture">
                <div class="reply-details">
                    <strong><i>{{ reply.user.pseudo }}</i></strong> a répondu :
                </div>
                <div class="reply-date">
                    <small>Le {{ reply.reply_date.strftime('%d-%m-%Y à %H:%M') }}</small>
                </div>
            </div>
                <div class="content-reply">
                    {{ reply.reply_content | replace('\n', '<br>') | safe }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="separation"></div>
    <div id="comment_avis">
        <h2>Vous pouvez laisser un commentaire : </h2>
        <div class="form-comment">
            <form method="POST" action="{{ url_for('user.comment_subject', user_pseudo=current_user.pseudo, subject_id=subject.id) }}">
                {{ formcomment.csrf_token }}
                <input type="hidden" name="subject_id" value="{{ subject.id }}">
                <input type="hidden" name="user_pseudo" value="{{ current_user.pseudo }}">
                <textarea name="comment_content" placeholder="Votre commentaire" required></textarea>
                <button type="submit">Poster le commentaire</button>
            </form>
        </div>
    </div>

    <div class="separation">
    </div>
</section>
<div id="retour_forum">
    <button class="back"><a href="{{ url_for('frontend.forum') }}">Retour au forum</a></button>
</div>

{% endblock %}
{% block footer_content %}
<script src="{{ url_for('static', filename='CSS/javascript/like_comment_subject.js') }}"></script>
{% endblock %}
