{% extends 'base.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Forum du blog permettant de discuter, interagir et donner son avis sur le blog.">
    <title>{% block title %}Bienvenue sur le forum du blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS/forum_subject.css') }}">
{% endblock %}

{% block header_content %}
{% endblock %}

{% block main_content %}
<br>
<h1>Forum de discussion</h1>

<section id="categories">
    <div id="forum_pic">
        <div id="forum_pic_left">
        </div>
        <div id="forum_pic_center">
        </div>
        <div id="forum_pic_right">
        </div>
    </div>

    <br><br><br><br><br><br>

    <div id="container_subject_forum">
        <br><br><br><br>
        <h2>Discussion sur le sujet : {{ subject.nom }}</h2>
    </div>
    <div id="container_comment">
    {% for comment in comment_subject %}
    <div id="comment">
        <div class="pics_user">

        </div>
        <div class="comment">
            <strong>{{ comment.user.pseudo }}</strong> a commenté :
        </div>
        <div class="date_comment">
            <small>Le {{ comment.comment_date.strftime('%d-%m-%Y à %H:%M') }}</small>
        </div>
        <div class="content_comment">
            {{ comment.comment_content | replace('\n', '<br>') | safe }}
        </div>
    </div>
    <div class="reply-button-container">
        <a href="{{ url_for('user.reply_form_subject', comment_id=comment.id, user_pseudo=current_user.pseudo) }}" class="reply-button">Répondre</a>
    </div>
    <div class="replies">
        {% for reply in comment.replies %}
        <div class="comment-reply">
            <div class="reply-header">
                <img src="{{ reply.user.profile_picture_url }}" alt="Photo de {{ reply.user.pseudo }}" class="profile-picture">
                <div class="reply-details">
                    <strong>{{ reply.user.pseudo }}</strong> a répondu :
                </div>
                <div class="reply-date">
                    <small>Le {{ reply.reply_date.strftime('%d-%m-%Y à %H:%M') }}</small>
                </div>
            </div>
            <div class="content-reply">
                {{ reply.reply_content | replace('\n', '<br>') | safe }}
            </div>
            <hr>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
</div>

    <div class="separation"></div>
    <div id="comment_avis">
        <h2>Vous pouvez laisser un commentaire : </h2>
        <div class="form-comment">
            <form method="POST" action="{{ url_for('user.comment_subject', user_pseudo=current_user.pseudo, subject_id=subject.id) }}">
                {{ formcomment.csrf_token }}
                <input type="hidden" name="subject_id" value="{{ subject.id }}">
                <input type="hidden" name="user_pseudo" value="{{ current_user.pseudo }}">
                <textarea name="comment_content" placeholder="Votre commentaire" required></textarea>
                <button type="submit">Poster le commentaire</button>
            </form>
        </div>
    </div>

    <div class="separation">
    </div>
</section>
<div id="retour_forum">
    <button class="back"><a href="{{ url_for('frontend.forum') }}">Retour au forum</a></button>
</div>
{% endblock %}