/* Définition d'un style pour tous les éléments de la page */
* {
  font-family: 'Comic Sans MS', cursive;
  background-color: black;
  color: white;
}

/* Header */
header {
  background-color: black;
  position: relative;
  width: 70%;
  margin: 0 auto;
  height: 150px;
  background-image: url('../Images/images_banniere/banniere4.jpg');
  background-position: center;
  background-size: 100% 100%;
}

/* Image en haut à gauche */
header::before {
  /* Obligatoire pour afficher le pseudo-élément */
  content: "";
  background-image: url('../Images/images_banniere/luffy2.jpg');
  background-position: top left;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  left: -20%;
  width: 20%;
  height: 100%;
  z-index: 1;
}

/* Image en haut à droite */
header::after {
  content: ""; /* Obligatoire pour afficher le pseudo-élément */
  background-image: url('../Images/images_banniere/goku1.jpg');
  background-position: top right;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: -20%;
  width: 20%;
  height: 100%;
  z-index: 1;
}

/* Option de la barre de navigation */
#navbar {
  background-color: black;
}


#navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 1%;
  margin: auto;
}


#navbar ul li {
  color: white;
  font-size: 20px;
  border: 1px solid orange;
  display: inline-block;
}

#navbar ul li a {
  display: block;
  padding: 10px 30px;
  text-decoration: none;
  border: orange;
  color: gold;
}

/* Option de survol */
nav a:hover {
  color: orange;
  border-bottom: 2px solid gold;
}

button a {
  color: black;
}

/* Style pour la connexion utilisateur */
#connection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  border: 2px solid purple;
  background-color: orange;
  position: absolute;
  right: 5%;
}

#connection p {
  color: black;
  background-color:orange;
}

#connection button {
  color: black;
  background-color: gold;
  border: 1px solid black;
  text-align: center;
  margin: 10px 0;
  border-radius: 5px; /* Ajoute des coins arrondis */
  box-shadow: 0 4px 6px rgba(0, 0, 30, 1); /* Ajoute un ombrage */
  cursor: pointer; /* Change le curseur pour indiquer que c'est un bouton cliquable */
}

#connection a {
  color: black;
  background-color:gold;
}

#connection a:hover {
  color: white;
}

/* Style pour le conteneur principal */
#container_article {
  background-image: url("../Images/images_article/background1.jpeg");
}

#article_title h1{
  border: 1px solid orange;
  padding: 1%;
  width: auto;
  margin: 0 auto;
  color: orange;
}

#article_content {
  margin: 0 auto;
  width: 80%;
  font-size: 24px;
  text-indent: 5%;
  text-align: justify;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  padding: 3%;
}

#article_pseudo {
  text-align: right;
  right: 20%;
  margin-right: 20%;
  font-size: 18px;
  font-style: italic;
}

#article_date {
  text-indent: 5%;
  font-size: 16px;
  text-align: right;
  margin-right: 5%;
}

.separation {
  border-bottom: 1px solid orange;
  margin: 3%;
}

/* Styles de la section commentaire */
#comment_avis {
  font-size: 20px;
  display: flex;
  text-align: center;
  text-indent: 5%;
}

#form-comment {
  display: flex;
  padding-left: 5%;
}

.likes_dislikes {
  padding-right: 20%;
}

#articles_likes, #articles_dislikes {
  font-size: 15px;
}

/* Photo des utilisateur ayant posté */
.comment-header {
  background-color: grey;
  color: black;
}
.comment-header img {
  background-color: grey;
  color: black;
}

#comment_content {
  width: 50%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}

#comment_content button {
  color: orange;
}

/* Style pour la zone de texte de la réponse aux commentaires */
textarea {
    width: 100%;
    max-width: 800px;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#container_comment {
  border: 1px solid orange;
  margin: 5%;
  text-align: left;
  font-size: 16px;
  background-color: grey;
}

#container_comment #comment {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: grey;
}

.comment {
  font-style: italic;
  color: black;
  background-color: grey;
}

/* Photo des utilisateur ayant posté */
.pics_user {

}

.comment strong {
  color: black;
  background-color: grey;
}

.content_comment {
  text-indent: 5%;
  font-size: 17px;
  text-align: justify;
  background-color: grey;
  color: black;
}

.date_comment {
  font-size: 14px;
  color: white;
  background-color: grey;
}

.date_comment small {
  border-top: 1px solid white;
  background-color: grey;
}

/* Style des réponses aux commentaires */
.reply-button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.like-section {
  display: flex;
  align-items: center;
  background-color: black;
  border: black;
  box-shadow: 2px 2px 10px rgba(255, 165, 0, 0.5);
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 3px;
}

.like-icon {
  position: relative;
  background-color: black;
  border: white;
  color: orange;
  cursor: pointer;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  margin-left: 10px;
}

.like-icon::before {
    content: "\2661"; /* Code Unicode pour un cœur vide */
    position: absolute;
    top: 0;
    left: 0;
    color: transparent; /* Couleur du cœur vide */
    transition: color 0.3s ease; /* Transition de couleur fluide */
}

.like-count {
  background-color: black;
  border: black;
  color: white;
  padding: 2px 7px;
  text-align: center;
  font-style: italic;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.liked-users {
    font-size: 12px;
    color: #555;
    margin-left: 5px;
}

.comment-reply {
  text-indent: 7%;
  background-color: lightgrey;
  color: black;
  font-size: 12px;
}

.reply-header {
  text-indent: 7%;
  background-color: lightgrey;
  color: black;
}
.reply-header img {
  background-color: lightgrey;
  color: black;
}

.reply-details {
  text-indent: 7%;
  background-color: lightgrey;
  color: black;
}
.reply-details strong i {
  background-color: lightgrey;
  color: black;
}
.reply-date {
  text-indent: 7%;
  background-color: lightgrey;
  color: black;
}
.reply-date small {
  background-color: lightgrey;
  color: black;
  border-top: 1px solid black;
}

.content-reply {
  text-indent: 7%;
  text-align: center;
  background-color: lightgrey;
  color: black;
  padding-right: 4%;
  font-size: 15px;
}

.reply-button {
  background-color: black;
  border: black;
  box-shadow: 2px 2px 10px rgba(255, 165, 0, 0.5);
  color: orange;
  padding: 2px 7px;
  text-align: center;
  font-style: italic;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
}

/* Code ajustant les styles pour les tablettes */
@media screen and (min-width: 600px) and (max-width: 900px) {
  /* Définition d'un style pour tous les éléments de la page */
  * {
    font-family: 'Comic Sans MS', cursive;
    background-color: black;
    color: white;
  }

  /* Header */
  header {
    background-color: black;
    position: relative;
    width: 70%;
    margin: 0 auto;
    height: 80px;
    background-image: url('../Images/images_banniere/banniere4.jpg');
    background-position: center;
    background-size: 100% 100%;
  }

  /* Image en haut à gauche */
  header::before {
    /* Obligatoire pour afficher le pseudo-élément */
    content: "";
    background-image: url('../Images/images_banniere/luffy2.jpg');
    background-position: top left;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: -15%;
    width: 15%;
    height: 100%;
    z-index: 1;
  }

  /* Image en haut à droite */
  header::after {
    content: ""; /* Obligatoire pour afficher le pseudo-élément */
    background-image: url('../Images/images_banniere/goku1.jpg');
    background-position: top right;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: -15%;
    width: 15%;
    height: 100%;
    z-index: 1;
  }

  /* Option de la barre de navigation */
  #navbar {
    background-color: black;
  }

  #navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1%;
    margin: auto;
  }


  #navbar ul li {
    color: white;
    font-size: 15px;
    border: 1px solid orange;
    display: inline-block;
  }

  #navbar ul li a {
    display: block;
    padding: 1% 3%;
    text-decoration: none;
    border: orange;
    color: gold;
  }

  /* Option de survol */
  nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
  }

  button a {
    color: black;
  }

  /* Style pour la connexion utilisateur */
  #connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15%;
    border: 2px solid purple;
    background-color: orange;
    position: absolute;
    right: 3%;
  }

  #connection p {
    color: black;
    background-color:orange;
  }

  #connection button {
    color: black;
    background-color: gold;
    border: 1px solid black;
    text-align: center;
    margin: 1% 0;
    border-radius: 5px;
    /* Ajoute un ombrage */
    box-shadow: 0 4px 6px rgba(0, 0, 30, 1);
    cursor: pointer;
  }

  #connection a {
    color: black;
    background-color:gold;
  }

  #connection a:hover {
    color: white;
  }

  /* Style pour le conteneur principal */
  #container_article {
    background-image: url("../Images/images_article/background1.jpeg");
  }

  #article_title h1{
    border: 1px solid orange;
    padding: 1%;
    width: auto;
    margin: 0 auto;
    color: orange;
  }

  #article_content {
    margin: 0 auto;
    width: 80%;
    font-size: 24px;
    text-indent: 4%;
    text-align: justify;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding: 2%;
  }

  #article_pseudo {
    text-align: right;
    right: 15%;
    margin-right: 15%;
    font-size: 18px;
    font-style: italic;
  }

  #article_date {
    text-indent: 4%;
    font-size: 16px;
    text-align: right;
    margin-right: 5%;
  }

  .separation {
    border-bottom: 1px solid orange;
    margin: 3%;
  }

  /* Styles de la section commentaire */
  #comment_avis {
    font-size: 20px;
    display: flex;
    text-align: center;
    text-indent: 5%;
  }

  #form-comment {
    display: flex;
    padding-left: 5%;
  }

  .likes_dislikes {
    padding-right: 15%;
  }

  #articles_likes, #articles_dislikes {
    font-size: 15px;
  }

  #comment_content {
    width: 50%;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
  }

  #comment_content button {
    color: orange;
  }

  /* Style pour la zone de texte de la réponse aux commentaires */
  textarea {
      width: 100%;
      max-width: 800px;
      height: 100px;
      padding: 1%;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  #container_comment {
    border: 1px solid orange;
    margin: 5%;
    text-align: left;
    font-size: 16px;
    background-color: grey;
  }

  #container_comment #comment {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: grey;
    margin-bottom: 1%;
  }

  .comment {
    font-style: italic;
    color: black;
    background-color: grey;
  }

  /* Photo des utilisateur ayant posté */
  .pics_user {

  }

  .comment strong {
    color: black;
    background-color: grey;
  }

  .content_comment {
    margin-top: 1%;
    text-indent: 4%;
    font-size: 13px;
    text-align: justify;
    background-color: grey;
  }

  .date_comment {
    font-size: 14px;
    color: white;
    background-color: grey;
  }

  .date_comment small {
    border-top: 1px solid white;
    background-color: grey;
  }

  /* Style des réponse aux commentaires */
  .reply-button-container {
    text-align: right;
    background-color: grey;
    padding-right: 4%;
    height: 4%;
  }

  .reply-button {
    background-color: black;
    border: black;
    box-shadow: 2px 2px 10px rgba(255, 165, 0, 0.5);
    color: orange;
    padding: 2% 7%;
    text-align: center;
    font-style: italic;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
  }

  hr {
    border: 1px solid darkgrey;
    width: 70%;
  }
}


/*Code ajustant les styles pour les téléphones portables */
@media screen and (max-width: 600px) {
  /* Définition d'un style pour tous les éléments de la page */
  * {
    font-family: 'Comic Sans MS', cursive;
    background-color: black;
    color: white;
  }

  /* Header */
  header {
    background-color: black;
    position: relative;
    width: 60%;
    margin: 0 auto;
    height: 60px;
    background-image: url('../Images/images_banniere/banniere4.jpg');
    background-position: center;
    background-size: 100% 100%;
  }

  /* Image en haut à gauche */
  header::before {
    /* Obligatoire pour afficher le pseudo-élément */
    content: "";
    background-image: url('../Images/images_banniere/luffy2.jpg');
    background-position: top left;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: -10%;
    width: 10%;
    height: 100%;
    z-index: 1;
  }

  /* Image en haut à droite */
  header::after {
    content: ""; /* Obligatoire pour afficher le pseudo-élément */
    background-image: url('../Images/images_banniere/goku1.jpg');
    background-position: top right;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    right: -10%;
    width: 10%;
    height: 100%;
    z-index: 1;
  }

  /* Option de la barre de navigation */
  #navbar {
    background-color: black;
  }

  #navbar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1%;
    margin: auto;
  }


  #navbar ul li {
    color: white;
    font-size: 15px;
    border: 1px solid orange;
    display: inline-block;
  }

  #navbar ul li a {
    display: block;
    padding: 1% 3%;
    text-decoration: none;
    border: orange;
    color: gold;
  }

  /* Option de survol */
  nav a:hover {
    color: orange;
    border-bottom: 2px solid gold;
  }

  button a {
    color: black;
  }

  /* Style pour la connexion utilisateur */
  #connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10%;
    border: 2px solid purple;
    background-color: orange;
    position: absolute;
    right: 3%;
  }

  #connection p {
    color: black;
    background-color:orange;
  }

  #connection button {
    color: black;
    background-color: gold;
    border: 1px solid black;
    text-align: center;
    margin: 1% 0;
    border-radius: 5px;
    /* Ajoute un ombrage */
    box-shadow: 0 4px 6px rgba(0, 0, 30, 1);
    cursor: pointer;
  }

  #connection a {
    color: black;
    background-color:gold;
  }

  #connection a:hover {
    color: white;
  }

  /* Style pour le conteneur principal */
  #container_article {
    background-image: url("../Images/images_article/background1.jpeg");
  }

  #article_title h1{
    border: 1px solid orange;
    padding: 1%;
    width: auto;
    margin: 0 auto;
    color: orange;
  }

  #article_content {
    margin: 0 auto;
    width: 60%;
    font-size: 24px;
    text-indent: 3%;
    text-align: justify;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    padding: 2%;
  }

  #article_pseudo {
    text-align: right;
    right: 10%;
    margin-right: 10%;
    font-size: 18px;
    font-style: italic;
  }

  #article_date {
    text-indent: 3%;
    font-size: 16px;
    text-align: right;
    margin-right: 4%;
  }

  .separation {
    border-bottom: 1px solid orange;
    margin: 2%;
  }

  /* Styles de la section commentaire */
  #comment_avis {
    font-size: 20px;
    display: flex;
    text-align: center;
    text-indent: 3%;
  }

  #form-comment {
    display: flex;
    padding-left: 3%;
  }

  .likes_dislikes {
    padding-right: 10%;
  }

  #articles_likes, #articles_dislikes {
    font-size: 15px;
  }

  #comment_content {
    width: 50%;
    margin: 0 auto;
    font-style: italic;
    text-align: center;
  }

  #comment_content button {
    color: orange;
  }

  /* Style pour la zone de texte de la réponse aux commentaires */
  textarea {
      width: 100%;
      max-width: 500px;
      height: 80px;
      padding: 1%;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
  }

  #container_comment {
    border: 1px solid orange;
    margin: 3%;
    text-align: left;
    font-size: 16px;
    background-color: grey;
  }

  #container_comment #comment {
    display: flex;
    flex-direction: column;
    padding: 1%;
    background-color: grey;
    margin-bottom: 1%;
  }

  .comment {
    font-style: italic;
    color: black;
    background-color: grey;
  }

  /* Photo des utilisateur ayant posté */
  .pics_user {

  }

  .comment strong {
    color: black;
    background-color: grey;
  }

  .content_comment {
    margin-top: 1%;
    text-indent: 3%;
    font-size: 13px;
    text-align: justify;
    background-color: grey;
  }

  .date_comment {
    font-size: 14px;
    color: white;
    background-color: grey;
  }

  .date_comment small {
    border-top: 1px solid white;
    background-color: grey;
  }

  /* Style des réponse aux commentaires */
  .reply-button-container {
    text-align: right;
    background-color: grey;
    padding-right: 3%;
    height: 3%;
  }

  .reply-button {
    background-color: black;
    border: black;
    box-shadow: 2px 2px 10px rgba(255, 165, 0, 0.5);
    color: orange;
    padding: 1% 5%;
    text-align: center;
    font-style: italic;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 3px;
  }

  hr {
    border: 1px solid darkgrey;
    width: 55%;
  }
}