/* Définition d'un style pour tous les éléments de la page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Choix de la police et de la couleur de police par défaut pour tout le conteneur body */
body {
  font-family: "Comic Sans MS", cursive;
  color: white;
}

h2, h4 {
  text-align:center;
  }

/* Définition des couleurs de fond et des bordures pour le corps du site */
body {
  background-color: #2c3e50;
  border-top: 10px solid gold;
  border-bottom: 10px solid darkgreen;
}

/* Style pour les catégories des articles */
.categorie {
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-right: 1px solid gold;
  background-color: darkgreen;
}

/* Style pour les articles */
.article {
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  background-color: black;
}
.separation {
  width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid white;

}

#filtrage {
  padding-left: 5%;
}

#filtrage p{
  font-size: 16px;
  text-decoration: underline;
}

h5 {
  padding-left: 5%;
}

.lettre-navigation {
  padding-left: 10%;
}
.lettre-navigation a {
  color: orange;
  font-size: 15px;
}

/* Style pour les éléments d'écriture (texte, boutons, liens) */
.ecriture {
  background-color: darkgrey;
  color: black;
}

/* Style pour les textes des boutons */
.font_button {
  color: black;
}

/* Style pour les boutons  des catégories */
.bouton_article_categorie {
  color: black;
}

/* Style pour les champs de formulaire */
input[type="text"],
input[type="password"],
textarea {
  color: black;
}

/* Style pour les boutons de soumission de formulaire */
input[type="submit"] {
  color: black;
}

.container {
  display: flex;
}

/* Style pour le conteneur de la liste des articles */
.container_liste_article{
  background-color: darkgreen;
}

.table {
  color: black;
  background-color: darkgrey;
}

.retour_frontend {
    color: black;
}

.retour_frontend:hover {
    color: gold;
}

/* Style pour le message flash */
.message_flash {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333333;
  color: white;
  border: 1px solid gold;
  padding: 10px;
}

/* Style des boutons message flash */
.btn_refresh {
  font-family: "Comic Sans MS", cursive
}

/* Style des boutons d'effacement */
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  padding: 0;
}

.delete-button:hover {
  color: darkred;
}

/* Code ajustant les styles pour les tablettes */
@media screen and (min-width: 600px) and (max-width: 900px) {
  /* Définition d'un style pour tous les éléments de la page */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Choix de la police et de la couleur de police par défaut pour tout le conteneur body */
  body {
    font-family: "Comic Sans MS", cursive;
    color: white;
  }

  h2, h4 {
    text-align:center;
  }

  /* Définition des couleurs de fond et des bordures pour le corps du site */
  body {
    background-color: #2c3e50;
    border-top: 10px solid gold;
    border-bottom: 10px solid darkgreen;
  }

  /* Style pour les catégories des articles */
  .categorie {
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    border-right: 1px solid gold;
    background-color: darkgreen;
  }

  /* Style pour les articles */
  .article {
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    background-color: black;
  }

  /* Style pour les éléments d'écriture (texte, boutons, liens) */
  .ecriture {
    background-color: darkgrey;
    color: black;
  }

  /* Style pour les textes des boutons */
  .font_button {
    color: black;
  }

  /* Style pour les boutons  des catégories */
  .bouton_article_categorie {
    color: black;
  }

  /* Style pour les champs de formulaire */
  input[type="text"],
  input[type="password"],
  textarea {
    color: black;
  }

  /* Style pour les boutons de soumission de formulaire */
  input[type="submit"] {
    color: black;
  }

  .container {
    display: flex;
  }

  /* Style pour le conteneur de la liste des articles */
  .container_liste_article{
    background-color: darkgreen;
  }

  .table {
    color: black;
    background-color: darkgrey;
  }

  .retour_frontend {
      color: black;
  }

  .retour_frontend:hover {
      color: gold;
  }

  /* Style pour le message flash */
  .message_flash {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333333;
    color: white;
    border: 1px solid gold;
    padding: 10px;
  }

  /* Style des boutons message flash */
  .btn_refresh {
    font-family: "Comic Sans MS", cursive
  }

  /* Style des boutons d'effacement */
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;
  }

  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    padding: 0;
  }

  .delete-button:hover {
    color: darkred;
  }
}


/*Code ajustant les styles pour les téléphones portables */
@media screen and (max-width: 600px) {
  /* Définition d'un style pour tous les éléments de la page */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Choix de la police et de la couleur de police par défaut pour tout le conteneur body */
  body {
    font-family: "Comic Sans MS", cursive;
    color: white;
  }

  h2, h4 {
    text-align:center;
  }

  /* Définition des couleurs de fond et des bordures pour le corps du site */
  body {
    background-color: #2c3e50;
    border-top: 10px solid gold;
    border-bottom: 10px solid darkgreen;
  }

  /* Style pour les catégories des articles */
  .categorie {
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    border-right: 1px solid gold;
    background-color: darkgreen;
  }

  /* Style pour les articles */
  .article {
    width: 50%;
    padding: 20px;
    border: 1px solid black;
    background-color: black;
  }

  /* Style pour les éléments d'écriture (texte, boutons, liens) */
  .ecriture {
    background-color: darkgrey;
    color: black;
  }

  /* Style pour les textes des boutons */
  .font_button {
    color: black;
  }

  /* Style pour les boutons  des catégories */
  .bouton_article_categorie {
    color: black;
  }

  /* Style pour les champs de formulaire */
  input[type="text"],
  input[type="password"],
  textarea {
    color: black;
  }

  /* Style pour les boutons de soumission de formulaire */
  input[type="submit"] {
    color: black;
  }

  .container {
    display: flex;
  }

  /* Style pour le conteneur de la liste des articles */
  .container_liste_article{
    background-color: darkgreen;
  }

  .table {
    color: black;
    background-color: darkgrey;
  }

  .retour_frontend {
      color: black;
  }

  .retour_frontend:hover {
      color: gold;
  }

  /* Style pour le message flash */
  .message_flash {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333333;
    color: white;
    border: 1px solid gold;
    padding: 10px;
  }

  /* Style des boutons message flash */
  .btn_refresh {
    font-family: "Comic Sans MS", cursive
  }

  /* Style des boutons d'effacement */
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    align-items: center;
  }

  .delete-button {
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    padding: 0;
  }

  .delete-button:hover {
    color: darkred;
  }
}