/* Style des formulaires */

#introduction {
  font-size: 24px;
  color: white;
  margin: 0 auto;
  width: 50%;
  border: 3px solid gold;
  background-color: black;
  text-indent: 4%;
  text-align: justify;
  padding: 2%;
}
header a {
  color: orange;
}

body {
  font-family: Calibri, sans-serif;
  font-size: 20px;
  background-color: #2c3e50;
}

h3 {
  text-decoration: underline;
  color: orange;
}

form {
  border: 3px solid orange;
  background-color: black;
  color: white;
  padding: 20px;
  max-width: 550px;
  margin: 50px auto;
  text-align: center;
}

form textarea {
  width: 70%;
  height: 100px;
}

input[type=text], input[type=password], input[type=email], input[type=date] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 15px;
  background-color: lightgrey;
}

button[type="submit"], .cancelledbtn {
  background-color: orange;
  border: 2px solid black;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  font-size: 28px;
}

button[type="submit"]:hover, .cancelledbtn:hover {
  opacity: 0.8;
}

button a {
  color: black;
}

.validatedbtn {
  background-color: orange;
  width: 100%;
  color: white;
}

.cancelledbtn {
  background-color: gold;
  width: 100%;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 50%;
  border-radius: 50%;
}

.separation {
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid orange;
}

.container {
  padding: 8%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

