{% extends 'baseback.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Page du backend afin d'ajouter une catégorie, un auteur et un article.">
    <title>{% block title %}Page administrateur du blog{% endblock %}</title>
{% endblock %}

{% block body_content %}
<div class="container">
    <!-- Pour ajouter une catégorie d'articles-->
    <div class="categorie">
        <h4>Ajouter une catégorie d'articles</h4>
        <form method="POST" action="{{ url_for('admin.add_new_categorie') }}">
            {{ formcategories.csrf_token }}
            {{ formcategories.nom.label }} {{ formcategories.nom(size=20) }}
            {{ formcategories.submit() }}
        </form>

        <!-- Pour afficher la liste des catégories -->
        <div class="liste_categories">
            <h5>Liste des catégories</h5>
            <ul>
                {% for categorie in categories %}
                <li>
                    {{ categorie.nom }}
                    <form method="POST" action="{{ url_for('admin.suppress_categorie', id=categorie.id) }}" class="btn_suppression">
                    {{ formcategories.csrf_token }}
                        <button type="submit" class="btn_suppression"><i class="fas fa-trash"></i></button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="categorie">
        <!-- Pour ajouter un nouvel auteur. -->
        <h4>Ajouter un auteur</h4>
        <form method="POST" action="{{ url_for('admin.add_new_author') }}">
            {{ formauthor.csrf_token }}
            {{ formauthor.nom.label }} {{ formauthor.nom(size=30) }}<br>
            {{ formauthor.prenom.label }} {{ formauthor.prenom(size=30) }}<br>
            {{ formauthor.pseudo.label }} {{ formauthor.pseudo(size=30) }}<br>
            {{ formauthor.submit() }}
        </form>

        <!-- Pour afficher la liste des auteurs -->
        <div class="liste_categories">
            <h5>Liste des auteurs</h5>
            <ul>
                {% for author in authors %}
                <li>
                    {{ author.pseudo }}
                    <form method="POST" action="{{ url_for('admin.suppress_author', id=author.id) }}" class="btn_suppression">
                    {{ formauthor.csrf_token }}
                        <button type="submit" class="btn_suppression"><i class="fas fa-trash"></i></button>
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Pour Ajouter les nouveaux articles -->
    <div class="article">
        <h4>Ajouter un article</h4>
        <form method="post" action="{{ url_for('admin.add_new_article') }}" enctype="multipart/form-data">
        {{ formarticles.csrf_token }}
            <label for="title">Titre de l'article :</label>
            <input type="text" id="title" class="title" name="title" value="{{ title }}" required><br><br>

            <label for="article_content">Contenu de l'article :</label>
            <textarea id="article_content" class="article_content" name="article_content" rows="20" cols="50" required></textarea>
            <br><br>

            <label for="resume">Résumé de l'article :</label>
            <textarea id="resume" class="resume" name="resume" rows="3" cols="50" required></textarea>
            <br><br>

            <label for="author_id">Pseudo :</label>
            <select id="author_id" name="author_id">
                <option class="bouton_article_categorie" value="author_id" disabled selected hidden>Sélectionnez un auteur</option>

                {% for author in authors %}
                    <option value="{{ author.id }}">{{ author.pseudo }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="date">Date d'édition :</label>
            <input type="date" id="date" class="date" name="date_edition" value="{{ date_edition }}" required><br><br>

            <label for="categorie_id">Catégorie :</label>
            <select id="categorie_id" name="categorie_id">
                <option class="bouton_article_categorie" value="categorie_id" disabled selected hidden>Sélectionnez une catégorie</option>

                {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
                {% endfor %}
            </select>
            <br><br>
            <input type="submit" value="Ajouter l'article">
        </form>
    </div>
</div>

{% endblock %}