{% extends 'baseback.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Page du backend afin d'afficher la liste des utilisateurs.">
    <title>{% block title %}Page administrateur - Liste utilisateurs{% endblock %}</title>

{% endblock %}

{% block body_content %}
<br><br>
<br><br>
<div class="container">

    <h5>Liste des Utilisateurs</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Pseudo de l'utilisateur</th>
                <th>Email de l'utilisateur</th>
                <th>Statut du bannissement</th>
                <th>Nombre de bannissement</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.banned }}</td>
                <td>{{ user.count_ban }}</td>
                <td>
                    <form action="{{ url_for('admin.suppress_user', id=user.id) }}" method="POST" class="btn_suppression">
                        {{ formuser.csrf_token }}
                        <button type="submit" class="btn_suppression" data-pseudo="l'utilisateur {{ user.pseudo }}"><i class="fas fa-trash"></i></button>
                    </form>
                    <form method="POST" action="{{ url_for('admin.banning_user', id=user.id) }}">
                        <button type="submit" class="btn_banned" data-pseudo="l'utilisateur {{ user.pseudo }}"><i class="fas fa-ban"></i></button>
                        {{ formban.csrf_token }}
                    </form>
                    <form  method="POST" action ="{{ url_for('admin.unbanning_user', id=user.id) }}">
                        <button type="submit" class="btn_deban" data-pseudo="l'utilisateur {{ user.pseudo }}"><i class="fas fa-thumbs-up"></i></button>
                        {{ formunban.csrf_token }}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

