<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mentions légales</title>
</head>
<body>
<p>

1. Présentation

Présente sur le marché depuis 2012, la SARL SHIN SEKAI a pour activité la vente de figurines, goodies, magazines, aliments, puzzles, tasses, peluches et autres articles dérivés des mangas et des jeux vidéo.
La SARL SHIN SEKAI garantie que ses articles sont officiels.

2. Evènements

La SARL SHIN SEKAI est présente à de nombreux salons qui se déroulent tout au long de l'année en France (Japan Expo, Paris Manga, TGS, Japan Touch, Japan Sud...) mais aussi en Belgique (MIA, Retro MIA, Japan Belgique...). Ces évènements permettent aux clients de rencontrer toute l'équipe SHIN SEKAI et surtout de pouvoir découvrir toutes les nouveautés en direct !

3. Informations

Siège social : Calvados (14)
Entrepôt : Calvados (14)

http://www.japaninfrance.fr

contact@shin-sekai.fr / 07 66 29 09 27
SIRET n°803 692 466 00029
TVA : FR14 803 692 466
Code APE : 4789Z / Autres commerces de détail sur éventaires et marchés
Date de création : 01/09/2012
Dénomination sociale : SARL SHIN SEKAI
Dénomination du site internet : SHIN SEKAI
Immatriculation au Registre du Commerce et des Sociétés 803 692 466 R.C.S. PONTOISE

</p>
</body>
</html>