{% extends 'base2.html.jinja2' %}

{% block main_content %}

<h1>Politique de Confidentialité</h1>
<br>
<p>Dernière mise à jour : [Date]</p>

<div class="separation">

</div>
<br>
<div id="container_politique">
    <div id="politique">
        <p class="intro">Bienvenue sur notre blog sur les mangas. Nous nous engageons à protéger votre vie privée et à respecter vos droits en matière de confidentialité.
            Cette politique de confidentialité explique comment nous collectons, utilisons, divulguons et protégeons vos informations personnelles lorsque vous utilisez notre site web.</p>
    </div>
    <br>
    <div>
        <h2>1. Informations que Nous Collectons</h2>
        <br>
        <p>Nous pouvons collecter les types d'informations suivants lorsque vous utilisez notre site :</p>
        <p>Informations d'identification personnelle : nom, adresse email, pseudo, date de naissance.</p>
        <p>Informations non personnelles : adresse IP, type de navigateur, informations de navigation, informations collectées via les cookies et autres technologies similaires.</p>
    </div>
    <br>
    <div>
        <h2>2. Utilisation des Informations</h2>
        <br>
        <p>Nous utilisons les informations que nous collectons pour :</p>
        <ul>
            <li>Fournir et gérer nos services.</li>
            <li>Améliorer l'expérience utilisateur sur notre site.</li>
            <li>Communiquer avec vous, y compris pour répondre à vos demandes de support.</li>
            <li>Envoyer des newsletters, mises à jour et autres communications promotionnelles (avec votre consentement).</li>
            <li>Analyser l'utilisation de notre site pour améliorer nos services et contenu.</li>
        </ul>
    </div>
    <br>
    <div>
        <h2>3. Partage des Informations</h2>
        <br>
        <p><b>Nous ne vendons, n'échangeons ni ne louons vos informations personnelles à des tiers. Nous pouvons partager vos informations avec :</b></p>
        <p>Fournisseurs de services : Tiers qui fournissent des services en notre nom, comme l'hébergement web, l'analyse des données, le traitement des paiements et l'assistance client.</p>
        <p>Obligations légales : Si nous sommes tenus de divulguer vos informations pour nous conformer à la loi ou répondre à une procédure judiciaire.</p>
    </div>
    <br>
    <div>
        <h2>4. Cookies et Technologies Similaires</h2>
        <br>
        <p class="first">Nous utilisons des cookies et des technologies similaires pour :</p>
        <ul>
            <li>Mémoriser vos préférences et paramètres.</li>
            <li>Comprendre et analyser l'utilisation de notre site.</li>
            <li>Améliorer nos services et votre expérience utilisateur.</li>
        </ul>
        <p class="first">Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela pourrait limiter certaines fonctionnalités de notre site.</p>
    </div>
    <br>
    <div>
        <h2>5. Sécurité des Informations</h2>
        <br>
        <p class="first">Nous mettons en œuvre des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé, modification, divulgation ou destruction. Cependant, aucune méthode de transmission sur Internet ou de stockage électronique n'est totalement sécurisée, et nous ne pouvons garantir une sécurité absolue.</p>
    </div>
    <br>
    <div>
        <h2>6. Vos Droits</h2>
        <br>
        <p>Vous avez le droit de :</p>
        <ul>
            <li>Accéder à vos informations personnelles que nous détenons.</li>
            <li>Demander la correction de toute information inexacte.</li>
            <li>Demander la suppression de vos informations personnelles (sous réserve de certaines exceptions légales).</li>
            <li>Vous opposez à l'utilisation de vos informations personnelles à des fins de marketing direct.</li>
            <li>Pour exercer ces droits, veuillez nous contacter à l'adresse e-mail fournie ci-dessous. </li>

        </ul>
    </div>
    <br>
    <div>
        <h2>7. Modifications de cette Politique</h2>
        <br>
        <p class="first">Nous pouvons mettre à jour cette politique de confidentialité de temps en temps pour refléter les changements apportés à nos pratiques de traitement des informations. Nous vous informerons de tout changement important en publiant la nouvelle politique sur notre site avec une date de mise à jour révisée.</p>
    </div>
    <br>
    <div>
        <h2>8. Nous Contacter</h2>
        <br>
        <p class="first">Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité ou nos pratiques en matière de protection des données, veuillez nous contacter à :</p>
        <a href="mailto:alefetey123@gmail.com">alefetey123@gmail.com</a>
    </div>
    <br>
    <div class="separation">

    </div>
    <br>
    <div>
        <p>Nous vous remercions d'utiliser notre blog et de nous faire confiance pour protéger votre vie privée.</p>
    </div>
    <br>
</div>

{% endblock %}
{% block footer_content %}
{% endblock %}