<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel='stylesheet' href="{{ url_for('static',filename='CSS/back_end.css') }}">
    <script src="{{ url_for('static', filename='CSS/javascript/script_back.js') }}"></script>

    {% block head_content %}
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const dismissButton = document.querySelector('#btn_supprimer');

                dismissButton.addEventListener('click', () => {
                    const messageFlash = document.querySelector('.message_flash');
                    // Suppression des messages flash du DOM
                    messageFlash.remove();
                });
            });
        </script>
    {% endblock %}
</head>
<body>
    <header>
    {% block header_content %}
    <nav>
        <h2>Bienvenue sur la page administrateur du blog</h2>
        <a class="retour_frontend" href="{{ url_for('landing_page') }}">Aller sur la page d'accueil du blog</a>
        <button><a href="{{ url_for('admin.articles_list') }}">Aller à la liste des articles</a></button>
        <button><a href="{{ url_for('admin.users_list') }}">Aller à la liste des utilisateurs</a></button>
        <button><a href="{{ url_for('admin.back_end') }}">Retour à la création d'article</a></button>
        <button><a href="{{ url_for('auth.admin_logout') }}"> Se déconnecter du back end</a></button>

    </nav>

    {% endblock %}
    </header>
{% block body_content %}
{% endblock %}

</body>
</html>
