{% extends 'baseform.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Réinitialisation du mot de passe utilisateur">
    <title>{% block title %}Réinitialisation du mot de passe Utilisateur{% endblock %}</title>
{% endblock %}

{% block header_content %}

{% endblock %}
{% block body_content %}
<div class="reset-password">
    <form method="POST" action="{{ url_for('auth.recording_new_password', token=token) }}">
        {{ formpassword.hidden_tag() }}
        <p>
            {{ formpassword.new_password.label }}<br>
            {{ formpassword.new_password(size=32) }}
        </p>
        <p>
            {{ formpassword.confirm_password.label }}<br>
            {{ formpassword.confirm_password(size=32) }}
        </p>
        <p><input type="submit" value="Réinitialiser son mot de passe"></p>
    </form>
</div>
{% endblock %}

{% block footer_content %}
{% endblock %}