{% extends 'baseform.html.jinja2' %}

{% block head_content %}
    <meta name="description" content="Rénitialisation du mot de passe utilisateur">
    <title>{% block title %}Réinitialisation du mot de passe Utilisateur{% endblock %}</title>
{% endblock %}

{% block header_content %}

{% endblock %}
{% block body_content %}
<div class="forgot-password">
    <form method="POST" action="{{ url_for('auth.password_reset') }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p><input type="submit" value="Réinitialiser son mot de passe"></p>
    </form>
</div>

{% endblock %}

{% block footer_content %}
{% endblock %}